<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIiOinZaTzt3iu6zhWP8z_hyR1173Fh6k</string>
	<key>GCM_SENDER_ID</key>
	<string>712542314773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bgood.v3Mvp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>v3mvp-b9aa4</string>
	<key>STORAGE_BUCKET</key>
	<string>v3mvp-b9aa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712542314773:ios:40781c46bd76e349f7c91c</string>
</dict>
</plist>